#root {
  max-width: 930px;
  margin: 2.5em auto 0;
}

.container {
  width: 700px !important;
  max-width: none !important;
  font-size: 1rem !important;
}

.app-header {
  padding: 16px;
  margin-bottom: 16px;
  color: white;
  text-align: center;
  background-color: rgb(47, 65, 63);
}
